*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    background: rgb(31, 22, 45);
}

/* Setting layout --------------------------------------------------- */

header {
    grid-area: header;
    
  }
  
footer {
    grid-area: footer;
    background: linear-gradient(to right, rgb(53, 106, 196), rgb(32, 23, 46));
    z-index: 2;
  }
  
article {
    grid-area: article;
  }
  
aside {
    grid-area: aside;
    background: linear-gradient(to top, rgb(53, 106, 196), rgb(31, 22, 45));
    /* box-shadow: 5px 0px 1px 5px rgba(31, 22, 45, 0.8); */
  }

.wrapper {
    display: grid;
    
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px calc(100vh - 170px) 20px;
    /* grid-gap: 5px; */
    height: 100vh;
    grid-template-areas: 
        "header header "
        "aside article"
        "footer footer";
    
}

@media all and (max-width: 880px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 300px auto;
        grid-template-areas:
        "header"
        "aside"
        "article"
        "footer";
    }
}

/* Header ------------------------------------------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: url('images/header.jpg') center no-repeat;
    background-size: cover;
    color: aliceblue;
    text-shadow: 3px 3px 5px rgb(71, 71, 71);
    padding-left: 20px;
    padding-right: 20px;
}

@media all and (max-width: 880px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.head-h1 {
    margin-right: 30px;
    font-size: 8vw;
    font-weight: bold;  
}

.head-p {
    align-self: flex-end;
    font-size: 20px; 
}

/* Aside ----------------------------------------------- */

/* .aside {
    background: url('images/bryan-goff-389291-unsplash.jpg') center;
} */

.form-group {
    padding: 20px;
}

#help {
    color: aliceblue;   
}

.search-fields {
    padding-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

/* MAIN ---------------------------------------------- */

/* Pagination ---------------------------------------------- */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;  
}

.page-link {
    background: rgb(39, 43, 38);
    color: aliceblue;
    border: none;
}

.page-link:hover {
    background: rgb(67, 74, 80);
    color: aliceblue;
}

/* Table ---------------------------------------------- */

.main {
    padding: 30px;
    background: url('images/mainback.jpg') center;
    /* opacity: 0.6; */
}

.table tr td, .table tr th{
    /* opacity: 0.8; */
    /* background: url('images/bryan-goff-389291-unsplash.jpg');  */
    color: aliceblue;
}

/* table tr td, table tr th:after {
    content: ""; 
    background: url(images/bryan-goff-389291-unsplash.jpg); */
    /* opacity: 0.9; */
    /* color: aliceblue;
} */

tr {
    text-align: center;
}

.main {
    overflow: auto;
}

#table {
    height: calc(100vh - 180px);
}

/* Footer ------------------------------------------------- */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer a {
    font-size: 10px;
    text-decoration: none;
    color: aliceblue;
}

.footer a:hover {
    color: rgb(180, 98, 66);
    color: rgb(250, 201, 198);
}

